<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <script src="js/main.js" defer></script>
    <title>Whatsapp groups</title>
</head>

<body>
    <div dir="rtl" class="heading">
        <%#- include('./components/addNewGroup.ejs') %>
        <%- include('./components/login-register.ejs') %>
    </div>

    <div class="login-form-pop-up">
        <%- include('./components/login-pop-up-form.ejs') %>
        <%- include('./components/register-pop-up-form.ejs') %>
    </div>
    <%- include('./components/search-for-group.ejs') %>

    <%- include('./components/recent-groups.ejs') %>

    <%- include('./components/filter-groups.ejs') %>

    <div dir="rtl" class="container">
        <div class="whatsapp-groups">
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
            <%- include('./components/whatsapp-group-card.ejs') %>
        </div>
        <%- include('./components/pagination.ejs') %>
    </div>
    <!-- Whatsapp section -->
    <%- include('./components/whatsapp-section.ejs') %>
    <!-- footer -->
    <%- include('./components/footer.ejs')  %>
</body>

</html>